body,
html {
  background-color: darkslategray;
  color: #fff;
  height: 100vh;
  display: grid;
}

.App {
  text-align: center;
  margin: auto;
}

button {
  font-size: 26px;
  padding: 10px;
  width: 49%;
  float: left;
  margin: 5px 0.5%;
}

@media screen and (max-width: 500px) {
  button {
    padding: 10px;
    width: 85%;
    float: none;
    margin: 10px auto;
  }
}
